body{
    background-color: rgb(255, 255, 255) !important; 
}

nav{
    margin-left: 10px;
    width: 100% !important;
    height: 100px !important;
    float: right;
    color: white;
    font-size: 10px;
}

.linkovi a{
    color: white !important;
    text-decoration: none;
}

footer a{
    color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

/* BRZA LISTA */
.brzaLista{
    margin-left: 650px;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif
}
.okvir-teksta3{
    
    border-radius: 0.33rem;
    background: rgba(59, 59, 59, 0.7);
    color: white;
    right: 300px;
    left: 300px;
    width: 600px;
    padding: 10px;
    margin-left: 630px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.btn {
    color: white;
    background-color: #363636;
    height: 100px !important;
    width: 100px !important;
    padding: 2px;
    border: 3px solid black;
    text-decoration: none;
}
/* KRAJ */

.logo{
    float:left;
    height: 130px;
    width: 130px;
    margin-bottom: 5px;
    
}
header{
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 1px;
    background-color: rgb(48, 58, 66);
    color: white;
}

.okvir-teksta1{
    
    border-radius: 0.33rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    right: 300px;
    left: 300px;
    padding: 10px;

}
.okvir-teksta2{
    
    border-radius: 0.33rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    right: 300px;
    left: 300px;
    width: 600px;
    padding: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
}


.slika{
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.razmak{
    margin-top: 100px;
    margin-left: 50px;
}


.primary img{
    height: 250px;
    width: 200px;
    justify-content: center;
}

/*sa vezbi*/

.main{
    padding: 1.5em;
}

.inner{
    padding: 0 20px;
}

.content{
    position: 610px;
}

.content img{
    padding: 10px 0 15px;
}

.sidebar{
    
    border-radius: 50px;
background: #f09393;
box-shadow:  11px 11px 35px #603b3b,
             -11px -11px 35px #ffebeb;
    width: 770px;
    float:right;
    margin-right: 25px;
   
}

.sidebar1{
    
    border-radius: 50px;
background: #f09393;
box-shadow:  11px 11px 35px #603b3b,
             -11px -11px 35px #ffebeb;
    width: 1160px;
    margin-left: 70px;
   
}

.sidebar2{
    
    border-radius: 50px;
background: #b4daa5;
box-shadow:  11px 11px 35px #2e4936,
             -11px -11px 35px #ffebeb;
    width: 900px;
    margin-left: 150px;
    margin-bottom: 100px;
   
}

iframe{
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 30px;
    height: 350px;
}

.sidebar h3{
    text-align: center;
}

.sidebar ul li a{
    background: #eee;
    padding: 10px 5px;
    list-style: none;
}

/*kraj*/







/*sa vezbi*/
.site{
    margin-left: 300px;
    font-size: 1.5em;
    max-width: 1300px;
}



  h1 {
    
    font-size: 4.375em; /* 70px/16px */
    line-height: 40px;
  }
  h1 em {
    color: #5B6E73;
    display: block;
    
    font-size: .285714286em; /* 20px/70px */
    font-style: normal;
    font-weight: normal;
    letter-spacing: .1em; /* 2px/20px */
    text-transform: uppercase;
  }
  h2 {
    font-family: BebasNeueRegular;
    font-size: 3.125em; /* 50px/16px */
  }
  
  h4 {
    
    font-size: 1.25em; /* 20px/16px */ 
  }
  
  
  /* Ciscenje nakon header-a */
  
  .group:after { 
    clear: both;
    content: " "; 
    display: block; 
    font-size: 0; 
    height: 0;
    visibility: hidden;
  }

  .banner{
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 700px;
    width: 100%;
    overflow:hidden;
    position: relative;
}
/*zavrsetak*/


/* RESPONSIV */
@media screen and (max-width: 413px) {

    /* BRZA LISTA */
.brzaLista{
    margin-left: 20px !important;
    font-size: 12px;
    padding: 20px;
    text-align: center;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif
}
.okvir-teksta3{
    
    border-radius: 0.33rem;
    background: rgba(59, 59, 59, 0.7);
    color: white;
    right: 300px;
    left: 300px;
    width: 350px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.btn {
    margin-right: 10px;
    color: white;
    background-color: #363636;
    height: 100px !important;
    width: 100px !important;
    padding: 2px;
    border: 3px solid black;
    text-decoration: none;
}
/* KRAJ */
.site{
    margin: 0;
    font-size: 1.5em;
    
}

nav{
    margin-left: 10px;
    width: 100%;
    height: 100px !important;
    color: white;
    font-size: 10px;
}

.banner{
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 400px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

.menu a{
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    font-size: 12px !important;
}

.okvir-teksta1{

    border-radius: 0.33rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    right: 300px;
    left: 200px;
    padding: 10px;
    font-size: 20px;
    

}
.okvir-teksta2{
    
    border-radius: 0.33rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    right: 300px;
    left: 300px;
    width: 250px;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.slika{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


.razmak{
    margin-top: 100px;
    margin-left: 20px;
    width: 280px;
}


.primary img{
    height: 250px;
    width: 200px;
    justify-content: center;
}

.sidebar{

    border-radius: 50px;
background: #f09393;
box-shadow:  11px 11px 35px #603b3b,
             -11px -11px 35px #ffebeb;
    width: 300px;
    margin-left: 300px;
   
}

.sidebar1{
    
    border-radius: 50px;
background: #f09393;
box-shadow:  11px 11px 35px #603b3b,
             -11px -11px 35px #ffebeb;
    width: 1160px;
    margin-left: 70px;
   
}

.sidebar2{
    
    border-radius: 50px;
background: #b4daa5;
box-shadow:  11px 11px 35px #2e4936,
             -11px -11px 35px #ffebeb;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 100px;
   
}

iframe{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 400px;
    width: 260px;
    border-radius: 1em;
}

footer {
    width: 100%;
    height: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 1px;
    background-color: rgb(48, 58, 66);
    color: white;
    font-size: 11px;
}
}